In [ ]:
from google.colab import files
files.upload()

In [17]:
import pandas as pd
df = pd.read_csv('/content/bike_dataset.csv',header = 0)
df.head()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN

[DataFrame to google sheet](https://colab.research.google.com/notebooks/io.ipynb#scrollTo=6d0xJz3VzLOo)

In [18]:
# # authenticate
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)
# create, and save df
from gspread_dataframe import set_with_dataframe
title = input('Enter the file name :')
gc.create(title)  # if not exist
sheet = gc.open(title).sheet1
set_with_dataframe(sheet, df) 
# include_index=False, include_column_header=True, resize=Fal

Enter the file name :bike dummy data